
<h1>Location Voiture</h1>

<main>
  <ul>
    <li>
      <a routerLink="reservations/liste">
        <svg-reservation-icon></svg-reservation-icon>
        <span>Réservations</span>
      </a>
    </li>
    <li>
      <a routerLink="clients/liste">
        <svg-clients-icon></svg-clients-icon>
        <span>Liste Client</span>
      </a>
    </li>
    <li>
      <a routerLink="voitures/liste">
        <svg-car-icon></svg-car-icon>
        <span>Catalogue Voiture</span>
      </a>
    </li>
  </ul>
</main>